$letras: #3d3d3d;
$azul: #1359b6;
$gris :#6b6b6b;
$select-1:#D4F1DB;
$select-2:rgb(251, 205, 212);
$select-3:#A1C4A6;
$select-4:#BFCACC;
$select-5:#79C6DA;
$select-6:#EDC2D5;
$select-7:#F3C5D0;
$select-8:#D4F1DB;
